<div class="textbox">
  <h4>出会い<span class="mt-auto small">まなまな</span></h4>
  <p>
    無機質な風が一陣吹き抜ける。空は鼠色に曇っており、太陽を拝むことはできない。あたりにはボロボロに錆びれ打ち捨てられた廃墟ビルが立てならび、生き物の気配は全くと言っていいほどしない。廃墟ビルは複雑に乱立し、そこら中に散乱する朽ち果てた瓦礫が地面を覆っている。側から見ると、街全体がまるで一つのガラクタのように映るだろう。ひどくうらぶれた、それでいて静謐なガラクタだ。<br>
    「――――――――――」<br>
    　突然鼻唄が静寂を破る。</p>
  <p>散乱した瓦礫の上を足軽げに歩く人影が見える。いや、歩くと言うよりも小さい岩ほどもある瓦礫の塊の上をジャンプしながら飛んで移動していると言ったほうが正しいだろう。<br>
    「♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪ ♪」<br>
    　その人影は鼻唄を歌いながら、どんどん前に進んでいく。<br>
    　よく見れば、それが眼元までフードを被り、独特なコートを着ている少女だとわかる。その顔色は窺い知れないが、鼻唄の調子からしてどうやらご機嫌らしい。<br>
    「♫♫♫♫♫♫♫♫♫♫♫♫♫♫♫」<br>
    　鼻唄は尚も続く。<br>
    　少女は瓦礫の塊の上を飛び跳ねながら歩を進める。だんだんと、道に転がる瓦礫の量が少なくなってきた。大きな瓦礫の塊は道の端に寄せられ、山を作っている。飛び移れるような瓦礫が無くなったところで、少女は鼻唄をやめてふと足を止める。少し小首を傾げてから今度は普通に歩きだした。少女は一定の歩調で迷うことなく歩いていく。しばらく歩き続けてから、やがて少女は一つの廃墟に辿り着いた。それは他の廃墟と比べても一際大きく、簡潔に言うと目立っていた。少女は廃墟の入り口に立ち、そのまま中に入っていく。
  </p>
  <p>廃墟の中は殺風景だったが、思ったよりも小綺麗だった。照明が足らないのか中は薄暗いものの、見える限り床は綺麗に磨かれており外の様子とは大違いだ。入り口近くの壁には懐中電灯やヘルメットなどがかけられていた。<br>
    「ずいぶん綺麗になったね」<br>
    　少女はフードを外して奥の人物に話しかける。少女の顔が露わになる。まず目を引いたのは、淡いピンク色の髪でも、特徴的なデザインのコートでもなくその両の眼だった。その眼はまるで吸い込まれるかのような、人のものとは思えない奇麗なグラデーションを描いていた。<br>
    「カンザキさんとGuiano君が頑張ってくれたからね」<br>
    　奥からもう1人の少女が出てきて答える。身長は廃墟に入ってきた少女よりも頭一つ高いくらいだ。<br>
    「花譜ちゃんはどこ行ってたの？」<br>
    「散歩」<br>
    「元気だねえ」<br>
    「そういえば理芽ちゃん方言辞めちゃったの？　可愛かったのに」<br>
    「なんか気恥ずかしかったから……」<br>
    「そっか」<br>
    「またいつか方言戻るかもしれないけどね」<br>
    「楽しみにしてるよ」<br>
    　花譜と呼ばれた少女はそう言うとそのまま廃墟の奥へと消えていった。もう一方の少女–理芽はそんな様子を見て少し肩を竦めながら、やはり奥へと消えていった。理芽の両眼にも花譜と同じような模様が輝いていた。<br>
    　理芽が外を見ると陽はもう沈みかけていて、廃墟ビル達が暖かいオレンジ色に染まっていた。<br>
    「ご飯でも作ろかねぇ」<br>
    　そう呟くとやはり理芽も廃墟の奥へと消えていった。そして、あたりはいつもの通り静かになった。</p>
  <p>神椿市――花譜と理芽が現在生活する廃墟街の名称だ。街にある全てのものは朽ち果て刻を止めている。その街には終わりがなくどこまでも続いているように思える。花譜と理芽は自分たち以外の人間が生活しているのを見たことがない。<br>
    　そんな神椿市の一角、一つの廃墟の中で2人の少女が向かい合っていた。そこは殺風景だが、廃墟の中とは思えないけど清掃が行き届いていた。学校にあるような机を2つ並べただけのテーブルに鍋が火にかけられており、ガスコンロとマグカップがちょこんと2つ置いてある。ひび割れた窓からは太陽の刺すような光が顔を覗かせていた。<br>
    「そういえば花譜ちゃん。カンザキさんから連絡があって、今日こっちに来るみたいだよ」<br>
    「おぉ。またアイス持ってきてくれるかな？」<br>
    「ほんとアイス好きだよねぇ」<br>
    「おいしいからね」<br>
    　ふふっと理芽は薄く笑うと、<br>
    「こっちに来るのは真夜中みたいだから迎えにいってあげよう」<br>
    　そう言って理芽はガスコンロを停め、マグカップに鍋の中身を注ぎ慣れた手つきでかき回し始めた。<br>
    「私としては新しい服とか欲しいけどね」<br>
    　理芽がマグカップを花譜の方に手渡す。<br>
    「カンザキさんくらいしか見る人いないけどね」<br>
    「おしゃれのしがいがないよねえ」<br>
    「それじゃアイスを楽しみにして待つとしますか」<br>
    「そうだね」<br>
    　花譜のマグカップは早くも空になっていた。<br>
    　それから陽は昇り燦々と地上に光を浴びせてから、その役目を果たして満足したかのように傾き始めた。暖かい色の夕陽が廃墟ビルの隙間に差し込み、長い影をつくっていた。<br>
    「そろそろ行きますか」<br>
    　理芽はテーブルに足を載せ頭を椅子に預けてだらしなくくつろいでいた花譜に声をかけた。<br>
    「んぉ」<br>
    　という気の抜けた返事と共に花譜が顔を上げる。<br>
    「もう時間か～」<br>
    「ほら、さっさと準備する。間に合わなくなるよ」<br>
    「はーい」</p>
  <p>
    数十分後、廃墟の入り口に花譜と理芽の姿が見えた。日はもうすっかり落ちてあたりは薄暗い。2人とも色違いのコートを着て、懐中電灯を携えている。2人の髪型とも合わさって、どこか左右対称的な印象を与える出で立ちだ。しかし、2人のコートに付いていたはずのフードだけが無くなっていた。その代わりのように、花譜と理芽の頭の上には鯨のような奇妙な生き物が飛び交っていた。その生き物はまるで2次元から飛び出してきたような不可解な存在感を放っていた。その生き物は大きくなったり小さくなったりを繰り返し、ビルの〟表面〝に移りこんでいる。ビルの壁に映り込んだかと思えば、次の瞬間には頭上を悠々と漕いでいる。観測の仕方次第で、自由自在にその姿を変えていく。2人はその生き物をほとんど気にも留めず、廃墟ビルを発った。</p>
  <p>
    花譜と理芽が向かったのは廃墟街を数時間歩いた先にある建物だった。その建物は他の廃墟と様相がかなり異なっており、まだ真新しかった。壁はまだ白く、塗装が輝いて見える。廃墟が覆い尽くす街でその建物は否が応でも浮いていた。注意深く観察してみると、どうやらこの建物は学校のようだ。銀色に光る門やそこに飾られているプレート、水の気配がしないプール、見事に空っぽな靴箱。人の気配こそしないが確かにそこは学校と呼ぶべき建物だろう。<br>
    　花譜と理芽は迷うことなく足を踏み入れる。いつの間にか鯨のような生き物は姿を消していた。その代わりかのように、学校の屋上に光が灯っていた。人工的な光でも自然な光でもなく捉えようのない妖しさを孕んでいる光だ。花譜と理芽は昇降口を抜け、階段へと差し掛かっていた。そこで初めて2人は異変に気が付いた。上のほうから音が漏れ出ている。それはかなり小さいものだったが花譜と理芽の耳にははっきりとその音が聞こえていた。<br>
    「これは……？」<br>
    　花譜が不安げに理芽に問う。<br>
    「わからない」<br>
    「大丈夫かな？」<br>
    「カンザキさんのことだから大丈夫だとは思うけど．．．とりあえず屋上に行ってみよう。」<br>
    「うん」<br>
    　花譜と理芽は頷きあってともに歩を進める。2人が階段を上がるたびにその音は大きくなっていくようだ。<br>
    　花譜と理芽は階段を昇り終え屋上へと繋がる扉の前に立った。重厚で無機質なその扉の奥から確かに音は聞こえてくる。<br>
    「開けるよ」<br>
    　理芽が小さく呟く。<br>
    　ギイイと大きな音を立てて扉が開く。眩しい光が一気に襲ってきて、視界が定まらない。<br>
    　果たして屋上には、背の高い青年が一人佇んでいた。ひょろりと背が高く、肌は病的なほど白くて分厚い丸眼鏡をかけていた。前髪を無造作に伸ばしており丸眼鏡と合わさりその目元は伺い知れない。<br>
    「カンザキさん」<br>
    　花譜が問いかける。<br>
    　カンザキ――カンザキイオリは無言を貫いている。すると突然異変が訪れた。ずっと聞こえていた音の〟調〝が変わったのだ。少なくとも花譜と理芽にはそう感じられた。音は一体となり小さな塊を作っていく。一つ一つのバラバラに散在する音の塊がつながりあって確かに「音楽」を形成する。単体だった音は重なりあい響かせあって今は音楽を形どっていた。<br>
    　カンザキが花譜と理芽のほうへと近づいてきた。1mまで近づいたところでカンザキは後ろを振り返る。花譜と理芽はカンザキが先程までいた場所に何者かの人影を認めた。音楽が鳴りやむ。<br>
    　そこにいた暖かいベージュ色の髪をした少女がゆっくりと近づいてきた。身長は花譜よりもかなり小さい。<br>
    「はじめまして」<br>
    　透き通るような聞く人を魅了する可憐な声色だ。<br>
    　彼女の名前はヰ世界情緒<br>
    　自らの歌と創作で世界を表現することを夢見る、バーチャルダークシンガー。<br>
    　力強く儚い歌声で、〝ヰ世界情緒〟というキャンバスの上に闇と光、新しい物語を紡ぐ。<br>
    　雲間から光が溢れでる。いつの間にか夜は明けていた。新たな始まりを祝すかのように一条の光が眩しく差し込む。<br>
    　此処は神椿市<br>
    　不可解で、不可侵で、魔法のような、魔女たちの楽園</p>
  <p>終</p>
  <p>ーーーーーーーーーーーー<br>
    あとがき<br>
    　花譜ちゃん2周年おめでとうございます！！それと拙作をここまで読んでくださった皆様ありがとうございました。ヰ世界情緒ちゃんとの出会いってどんな感じだったのかなぁという妄想を切り取ったSSとなっております。情緒ちゃんは花譜ちゃんより身長小さいんだよなぁ。何cmなんだろ…拙い部分も多々あるとは思いますが、小説は楽しんだもの勝ちだって誰かが言ってました。<br>
    　いままでこういった企画に参加したことはなかったのですが、今回思い切って参加させていただきました。花譜ちゃんとは同年代ということもあり、花譜ちゃんは日々の心の支えとなっています。その感謝の気持ちを少しでも伝えられたらなぁと考えています。最後に、花譜ちゃんのますます精力的な活動を祈っております！！！ありがとうございました。
  </p>

</div>
