<div class="textbox">
  <h4>笛吹きの預言<span class="small">タタミベリ</span></h4>
  <p>&emsp;茨城県常盤木</p>
  <p>&emsp;午前二時</p>
  <p>&emsp;眩いヘッドライトの行き交いを、等質に敷き詰められた高層ビルの窓が照らして返す。そびえ立つビルは、いずれも航空障害灯を赤く明滅させて、空を囲む。</p>
  <p>&emsp;歩く者の居ない、美しい夜だった。</p>
  <p>&emsp;車載ＡＩの相互連携によって制御された、自動運転レベル５の車列は大型配送車・普通乗用車・超小型モビリティ･･････、様々な車種とカラーで構成されている。それらは新しい昆虫のようにひたと止まり、また流れる。およそ雑念やストレスといったものは挟まない。
  </p>
  <p>&emsp;光の交錯は地上だけではない。埋設された亜世代量子通信網もまた、光を媒介して仮想空間上に鏡写しの都市を構成できる程に、膨大な情報を交換している。</p>
  <p>&emsp;まさに輝ける未来都市、スーパーシティ。古い時代の人々が見れば、それだけで詩でも生まれそうな光景だ。</p>
  <p>&emsp;深夜の販売店に瓶や缶を運ぶ「酒のカキヤス」もまた、側面に目立つロゴを描いたピンクの車体を揺らして、その美しい車列の一部を成していた。</p>
  <p>&emsp;運転にタッチしないドライバーの男は、席にもたれてうたた寝をしている。自律制御されたトラックは、運転者の注意を必要としない。だから、車載ＡＩの発する音声を理解するのにも、時間を要したのだ。</p>
  <p>&emsp;〝車線上に立ち入る物体があります〟</p>
  <p>&emsp;滑らかなブレーキで、乗っているトラックが負荷をかけずに静止する。</p>
  <p>「んが、あ･･････？」</p>
  <p>&emsp;いびきを止めて、男が起き上がる。膝に乗せたままのタブレットを助手席に置いて、フロントガラスを見た。</p>
  <p>&emsp;彼の知らない間に、変わった場所へ誘導されてしまったらしい。歩行者用信号が赤を示す横断歩道、その路上には「一時停止」標識が刺さっていた。それだけでも奇妙だが、フロントガラス上に表示される巨大な輪郭だけが、ドライバーの男に警告を示している。</p>
  <p>「なんだ、こりゃ･･････？」</p>
  <p>&emsp;アクシデントに対応するシーケンスが実行され、トラックがクラクションを鳴らす。短く二回、長く一回。続いて外へ、警告音声。</p>
  <p>「車線上から退いてください」</p>
  <p>「標識だろ･･････？」</p>
  <p>&emsp;〝ドライバーは対応をお願いします。危険と判断した場合はドアを開けず、警察に連絡してください〟</p>
  <p>&emsp;こういう場合があるから、ドライバーが乗っているのだ。</p>
  <p>&emsp;間抜けな標識が立っている道路と、この連れ込まれた予定外の道に後続車が無いのを見て、男は制御をマニュアルへと切り替えることにした。稀なケースへの対処は、いつでも人力である。フロントガラスに示される警告画面を一瞥して、「無視」を選ぶ。ギアを動かし、ハンドルに手をかけ、回しながらゆるゆるとアクセルを踏む。前方の妙な標識を迂回してから、制御をオートに戻せば解決だろう。
  </p>
  <p>&emsp;･･････歩行者用信号が、青に変わった。</p>
  <p>&emsp;横凪ぎの衝撃に、景色が流れる。エアバッグが瞬時に膨張して、身体を圧迫する。車体がひしゃげる、凄まじい悲鳴。フレームが地面を擦り、火花が散った。</p>
  <p>「ひぃっ」</p>
  <p>&emsp;横転させられた。打ちつけられ、車体が滑る。シートベルトで運転席に縛り付けられたドライバーの男は、反射的に身を縮ませた。</p>
  <p>&emsp;〝衝突事故です。警察、救急への通報を実行します〟</p>
  <p>&emsp;横転、させられた。何に？</p>
  <p>&emsp;フロントガラスに映った輪郭。</p>
  <p>&emsp;妙な標識。に化けた巨大な何か。</p>
  <p>「いっ･･････」</p>
  <p>&emsp;異常な事態への恐怖で、男の心臓は跳ね上がった。</p>
  <p>&emsp;警報が響き、ひび割れたフロントガラスに表示された破損箇所が次々と増えてゆく。トラックの後部を踏みつける、ぎしりとした揺れ。</p>
  <p>&emsp;荷台を食い破る音が聞こえだした。</p>
  <p>&emsp;ボリボリと酒瓶ごと噛み砕いて飲み込む咀嚼音･･････。</p>
  <p>&emsp;それは、常識的な物差しでは測れないものだ。</p>
  <p>&emsp;税制優遇さえ与えられた未来都市。この街には、あらゆる測定を撥ね除ける怪物が、現れる。</p>
  <p>「不可そ、不可測獣、出たぁあああ！」</p>
  <p>&emsp;がちゃがちゃとシートベルトを掴む。</p>
  <p>「早く、早く･･････外に･･････」</p>
  <p>&emsp;やっと外れて、男は肩から落ち、シートをよじ登って割れた窓から這い出た。必死だった。</p>
  <p>&emsp;置かれた状況を理解する。</p>
  <p>&emsp;さっきは見えなかった、交通標識で組まれた骨組みの脚が、横倒しのトラックを潰していた。白い鉄棒と、青や赤の四角三角で構成された巨大な頭部が顎を開き、荷台に顔をうずめる。あたかも、はらわたに食いつくように、商品の酒をパッケージごと噛み潰している。頭を上げれば、金属の牙の間から泡が流れて落ちた。
  </p>
  <p>「は、はっ、はっ、た、助けて！」</p>
  <p>&emsp;男はもつれた足を全力で動かして、後方を何度も振り返りながら、無機質な街を走った。人の居ない美しい夜だった。男は携帯端末を取り出し、震える手でダイヤルを操作する。三桁の番号は、この街の住人なら誰もが知る。</p>
  <p>&emsp;背中で身の竦むような金切り声が聞こえた。</p>
  <p>&emsp;あの酒を盗む不可測獣から、直接助けてくれるわけではないだろうが･･････。</p>
  <p>&emsp;着信音は短く、直ぐに繋がった。</p>
  <p>&emsp;彼は叫んだ。</p>
  <p>「異住定獣課！ 化け物だ！」</p>
  <p>&emsp;立入禁止のテープをくぐる。大きな星が描かれたコンバースの靴で、人払いされた領域へ踏み込んだ理芽は、斜めに下げたサコッシュや、長めの黒いカットソーワンピースの裾を直してから、そこにいるスーツの女性に声をかけた。</p>
  <p>「三杉さん。すぐ呼んでくれたら、良かったのに」</p>
  <p>「寝てるとこ起こせないわよ。午前中から夕方まで大学でしょ。時間割は把握しているんだから、呼べないわ」</p>
  <p>&emsp;眼鏡を光らせる三杉は、振り向きもせずに答えた。</p>
  <p>&emsp;その艶のある長い髪を、肩に届く位の自分の髪と比べる。こんな時の目さえ緩めれば、この人は素敵になるのにな、と理芽は心で頷く。</p>
  <p>&emsp;動かない視線の先には、横転したピンクのトラックがある。引き摺られたアスファルトの傷、割れた窓と、歪みきった「酒のカキヤス」のロゴが無残さを増していた。</p>
  <p>&emsp;惨状を認めて、理芽も目つきが変わった。側面には巨大な獣の爪痕が残っている。ただの事故現場ではない。</p>
  <p>「えっずい、ぐらぐらこいたばいっ」</p>
  <p>&emsp;三杉は怒りを隠せなくなった理芽に触れて、宥めた。</p>
  <p>「落ち着いて」</p>
  <p>「･･････笛吹きはなんしようと」</p>
  <p>「今はまだ、その時じゃないって事よ、きっと」</p>
  <p>&emsp;理芽はパンツの膝が伸びないように屈んで、俯いた。</p>
  <p>「後手後手に回っているだけじゃ、駄目なんだ。電話取って、警察と連携するだけって、あまりにお役所。起きる前に止めなきゃ」</p>
  <p>&emsp;その様子に、三杉は溜息をついた。</p>
  <p>「わかるけれどね･･････」</p>
  <p>&emsp;二人が所属（理芽は協力者という扱いだが）するのは、常盤木市の異住定獣課という特殊な部署である。その人員は、適性を持つ者が少ないこともあり、最小限に抑えられている。彼等が扱う案件はひとつ、この街に現れる〝不可測獣〝への対処だ。
  </p>
  <p>&emsp;それは、次代の情報通信技術である亜世代量子通信網が実用化されて間もなく、各地に現れては暴威を振るい、数に代えられない犠牲を出した。個体差が激しく、定型的な策を講じることが困難な不可測獣は、常盤木市が完成して以後、どういうわけか出現範囲が市内周辺までに絞られるようになった。とはいえ、いつどこに現れるかは、その名の通り不定不測である。</p>
  <p>&emsp;まさに２４時間体制で対応を求められる状況なのだが、最小限の人数で稼働できているのには理由がある。</p>
  <p>「そのうち、笛吹きが預言を出すと思うから、解読班が時間を割り出したら、付き合って貰うわ。その時はお願いね、理芽」</p>
  <p>「分かりました。今度は遠慮しないで、呼んでください」</p>
  <p>「無理。あなたの学業が優先よ」</p>
  <p>「うー」</p>
  <p>&emsp;理芽が髪をかき上げた。</p>
  <p>&emsp;〝笛吹き（別称ＰＩＥＤ
    ＰＩＰＥＲ）〟とは、異住定獣課がコンタクトに成功した、特殊な不可測存在である。我々よりも高位の知性体と考えられる笛吹きは、謎めいた預言の形で、課に指示を送ってくるのが常であった。それを正しく解読すると、次の不可測獣の出現日時、位置が明らかになるという仕組みである。一見、回りくどい手段を取らなければならないのは、人類と笛吹きの知性・存在軸の齟齬故であろうと思われた。</p>
  <p>&emsp;ともあれ、指令塔たる笛吹きのお陰で、異住定獣課の大部分は２４時間監視の負担から解き放たれ、また理芽も大学と課の協力者という二つの立場の両立が可能となっているのであった。必要な瞬間に、必要な人員が用意されていればいいというのが課の姿勢である。</p>
  <p>「さて･･････現地調査は終わりね」</p>
  <p>&emsp;三杉が眼鏡を直し、腕を組む。</p>
  <p>「何か分かりました？」</p>
  <p>&emsp;立ち上がって振り返り、理芽は聞いた。</p>
  <p>「目撃者の証言から、交通標識に化けていたことと、もの凄い怪力を持っていること。あとは、大酒飲みなことくらいかしら」</p>
  <p>「それって･･････どんな〝物語〟なんだか」</p>
  <p>「まあ、突飛な〝物語〟の接続はいつも通りね。もっと危険な接続が成される前に、定めるわよ。送っていくわ」</p>
  <p>&emsp;そう言い、三杉は車を見た。</p>
  <p>「あたしも年齢、乗れるのに」</p>
  <p>「免許取ったらね」</p>
  <p>&emsp;そうは言いつつ、ハンドルから手が離れている。もはや自動運転が基本なんだから、自分が乗っても変わらないのでは、と理芽は思う。</p>
  <p>&emsp;車窓の霜が外の灯りをぼやかして、境界を曖昧にした。</p>
  <p>「･･････ひとつふたつ昔の人達は、現実と虚構の区別が付かなくなるなんて、いちいち問題にしていたんですよね。今ほど切迫していないのに」</p>
  <p>「こんな世の中が来るなんて、誰も思わなかったのよ」</p>
  <p>&emsp;理芽の周囲では、〝現実〟と〝物語〟はほぼ同一の単語と化しつつある。異住定獣課に属する身ともなれば、それを嫌でも実感させられる。亜世代量子通信網がもたらした巨視的ゆらぎが、無数の可能性世界と自分達の暮らす現実を繋いでしまったからだ。</p>
  <p>&emsp;あらゆる可能性が目の前に現れるようになれば、どんな虚構も空想も起こり得るものとして現実と並ぶことになる。ならば現実も、無数にあるうちのひとつの〝物語〟でしかない。分け難い〝現実〟と〝物語〟の狭間に、不可測獣は現れるのだ。</p>
  <p>&emsp;しかし、こんな状況だからこそ、理芽の今がある。</p>
  <p>&emsp;理芽は助手席から話しかけた。</p>
  <p>「三杉さん。もし私が何もできなかったら。能力も無くて、例えば何の才能も無かったら･･････」</p>
  <p>&emsp;少し間を置いて、聞いてみる。</p>
  <p>「それでもあたしを見つけてくれますか？」</p>
  <p>&emsp;何を聞かれているのか考えて、三杉はそうね、と言った。</p>
  <p>「難しいわね。知り合う機会も、無かったかもしれない」</p>
  <p>&emsp;率直に答えた。柔らかい言い方でも納得しないからだ。</p>
  <p>「でも、何もできなかったら。その代わり･･････きっと」</p>
  <p>&emsp;きっと、普通に。それは、彼女にとっては何事も起こらず、両親が存命だった場合、ということだ。三杉も次の言葉が継げず、黙ってしまった。このまま話していると不味い方向に向かうのは分かっていたが、案の定である。</p>
  <p>&emsp;過去の事件がもとで、心身の半分が人類の枠を外れてしまった理芽にしかできないことがある。もちろん、不可測獣絡みだ。異住定獣課に協力すれば、課が後見人の選定から大学の学費、生活費やバイト代まで出す。お互いに、ビジネスライクな契約を交わしてしまっているのだ。</p>
  <p>&emsp;それでも、理芽はときどき試してしまう。</p>
  <p>&emsp;親に愛情を確かめるような真似を。</p>
  <p>「･･････仕事抜きで、あなたが大事なのは本当よ」</p>
  <p>&emsp;ルームミラーで様子を伺いながら、三杉が優しく言った。</p>
  <p>&emsp;苦い顔の理芽が映っていた。</p>
  <p>「大人の契約って汚い」</p>
  <p>「あら、タダで学費貰える身分が良かった？」</p>
  <p>「そういうのも、怖い」</p>
  <p>「あらあら」</p>
  <p>&emsp;理芽は膝を抱く。</p>
  <p>「･･････可能性世界仮説が本当なら、どこかで普通に暮らしている私もいるんだ」</p>
  <p>「そっちの理芽は今、何をしているかしらね」</p>
  <p>「そうだなあ」</p>
  <p>&emsp;ルーフの方に目をやって、考えた。</p>
  <p>&emsp;歌でも、歌っているんじゃないかな。</p>
  <p>&emsp;笛吹きの預言は、思っていた以上に早く出力された。</p>
  <p>&emsp;連絡を受けた三杉は、マンションに帰すつもりだった理芽を乗せたまま、笛吹きの下へ急行することにした。</p>
  <p>&emsp;預言の中身は、まだ誰も読んではいない。不用意な観測行為によって内容が汚染されないよう、彼女達が来るまでは接触禁止だ。</p>
  <p>&emsp;二人は常盤木の中心にある高層ビル、タワー・オブ・カメリアを訪れた。そこで三杉は手持ちの鍵を差し、決められた手順で昇降ボタンを押した。</p>
  <p>「はい、カードを首にかけて」</p>
  <p>「いつもながら、煩雑」</p>
  <p>&emsp;背中で籠にもたれかかる理芽が、退屈そうに言った。</p>
  <p>&emsp;サコッシュから紐付きのＩＤカードを出す。</p>
  <p>&emsp;籠を監視しているこのビルの防災センターも、異住定獣課の職員で占められているため、起こるはずの問題が起こらない。地下３階までしか無いはずの表示が、どこまでも下っていった。</p>
  <p>&emsp;やがて、扉が開いた。</p>
  <p>&emsp;現代的なオフィスが、そこにあった。</p>
  <p>&emsp;タワー・オブ・カメリアの最下部、異住定獣課の本拠地がここである。縦に複数フロアの敷地面積は、建設計画の段階から組み込まれたものだ。人工都市・常盤木が何のために造られたのか。それはそのまま、このあらかじめ用意されたオフィスが示している。
  </p>
  <p>&emsp;異様なのは、壁に張り巡らされた真鍮色のパイプだ。昭和以前の次代に逆戻りしたような、剥き出しの気送管である。これらのパイプがどこまで続いているのか、その先の先は時空が平常なのか、職員も、理芽も誰も知らない。</p>
  <p>&emsp;だが、預言は確かに送られてくる。</p>
  <p>&emsp;これが、笛吹きの正体であった。</p>
  <p>&emsp;笛吹きと呼ばれる気送管の、吐き出し位置に合わせてくり抜いた空間が、異住定獣課なのである。</p>
  <p>「預言は？」</p>
  <p>&emsp;足を止め、三杉は近くの職員に尋ねた</p>
  <p>&emsp;職員は、遠くの気送管から筒状の容器を取り出し、持ってきた。プラスチック製の筒を開けると、Ａ４コピー用紙を横に丸めた紙がある。</p>
  <p>「さて、どんな無茶振りが描かれているかしら･･････」</p>
  <p>&emsp;預言が書かれた紙を引き出そうと、三杉は手を入れた。</p>
  <p>&emsp;その様子を見ている理芽には、思いつきがあった。</p>
  <p>&emsp;ある種のいたずら心、と捉えてもいいかもしれない。</p>
  <p>「後手後手に回っているだけじゃ、駄目なんだ」</p>
  <p>「え？」</p>
  <p>&emsp;理芽は･･････三杉の持っている筒を、いきなり奪い取った。そのまま出口のエレベーターに向かって駆け出す。</p>
  <p>「なっ、な、何やってるの！」</p>
  <p>&emsp;ボタンを押すと、籠が待機していたために扉が開く。</p>
  <p>&emsp;すぐさま飛び込んだ。</p>
  <p>&emsp;遅れて追いかける職員と三杉が、手を伸ばして叫ぶ。</p>
  <p>「理芽、返しなさい！」</p>
  <p>「ヤです」</p>
  <p>&emsp;即刻、閉じるボタンを押した。</p>
  <p>&emsp;スローに閉じてゆく扉の隙間から、筒の中に手を入れる理芽の姿が見えた。おもむろに紙を引き出し、預言を読みもせずに真ん中から破ってみせる。</p>
  <p>「ああーっ！」</p>
  <p>&emsp;下半分は丸めてサコッシュに突っ込み、上半分だけ持ってちらつかせる。</p>
  <p>「ごめんなさい。でも、きっと上手くいくから」</p>
  <p>&emsp;ドアが完全に閉じた。</p>
  <p>「うぐぐ･･････」</p>
  <p>&emsp;三杉がその場に跪く。下ろした腕が震えていた。</p>
  <p>&emsp;さっきの車中の会話は、前触れだったのだろう。</p>
  <p>&emsp;引き取った里親を試す、子供のようなものだ。</p>
  <p>&emsp;切り替えて、声を張った。</p>
  <p>「駄目だと思うけれど、防災センターに連絡、地上階の職員は理芽を止めて！ あと、携帯端末の位置をトレース、以後逐一、私に知らせるように！ それと不可測獣への対応準備！ 今夜だけは２４時間体制よ！
    やってやるわ･･････やってやる！」
  </p>
  <p>&emsp;三杉はズレた眼鏡を直して、立ち上がる。</p>
  <p>「〝ＣＯＭ〟と〝ＦＦＷ〟をいつでも出せるようにして」</p>
  <p>&emsp;長い髪を流し、広げた脚のヒールがカツと鳴った。</p>
  <p>「･･････大人を舐めないでもらうわ、理芽」</p>
  <p>&emsp;上昇する籠の中で、理芽は中身を取り出した気送管の筒を床に立て、手首足首のストレッチをしていた。</p>
  <p>&emsp;四方を囲む狭い壁の隅から、不意に動く絵が現れる。まるでプロジェクションマッピングのようなそれは、太った赤い魚だ。理芽の周りを優雅に泳いでみせた。</p>
  <p>「〝はすたー〟。引っ込んで」</p>
  <p>&emsp;赤い魚はギザギザの口を開き、一声鳴いた。</p>
  <p>&emsp;オゥーン。</p>
  <p>&emsp;犬の遠吠えのようでいて、寂しがる猫のような奇妙な声。</p>
  <p>「いい、から、消えてっ」</p>
  <p>&emsp;理芽は屈伸。続いて脚の腱を伸ばす。</p>
  <p>&emsp;はすたーは言われたとおりに壁の端へ泳ぎ、消えた。</p>
  <p>「･･････あんたは嫌い」</p>
  <p>&emsp;この世界に定められ、「定獣化した」不可測獣、その一匹がはすたーである。定獣化は異住定獣課が誇る成果であった。不可測獣の内にある、乱れ狂う物語の中から、ひとつを選ばせる。そうして「定め」れば、害は減る。</p>
  <p>&emsp;異住定獣課は、この定獣化を目標として動いている。</p>
  <p>&emsp;そして、それは少なからず･･････理芽の納得のいく結果ではない。</p>
  <p>&emsp;エレベーターが地上に近付いてきた。</p>
  <p>「さあッ」</p>
  <p>&emsp;理芽は気持ちを切り替え、片足ずつ、コンバース靴の踵で自分の脚をリズムよく打った。それだけで、記号の泡が理芽の足首を取り巻いてゆく。</p>
  <p>&emsp;自身の身体と、触れる物を不可測存在に変える。それが過去の凄惨な体験を経て、理芽が授かった能力である。</p>
  <p>&emsp;扉が開かれ、エレベーター内に地上勤務の職員が押し込んできた。</p>
  <p>「待ちなさいっ」</p>
  <p>「失礼します！」</p>
  <p>&emsp;理芽は籠を斜めに駆け上がり、職員達の頭を飛び越える。</p>
  <p>&emsp;人の溜まりから逃れて、ふわりと着地すると、そのまま跳ねるように走って外へ飛び出していった。一歩一歩が月面上のように大きい。</p>
  <p>「あ･･････、お、追えっ」</p>
  <p>&emsp;あっけに取られた職員達が、また理芽を追った。</p>
  <p>&emsp;不可測の記号を散らして、脚は動く。</p>
  <p>&emsp;理芽はビルの側面を昇り、屋上から屋上へ飛び渡った。</p>
  <p>&emsp;今の理芽の体重は計測不能であった。あるいは、重さマイナスとなり、反重力すら働いていたかもしれない。いまここに量りがあるとしても、まともな数値を出すことすら無く、計測を無意味化する、それが不可測化である。</p>
  <p>&emsp;飛んだ先の給水タンクに隠れ、理芽はサコッシュに入れた紙片を読んだ。</p>
  <p>「さて、観測開始と」</p>
  <p>&emsp;さっき破った預言の、丸めていない上半分だ。</p>
  <p>&emsp;金色の盤が掲げる杯に落ちた頃</p>
  <p>&emsp;迷い子は七つの流れ交わる所に浮かび上がる</p>
  <p>「ふうん･･････？」</p>
  <p>&emsp;理芽は紙片を摘まんで、思案した。</p>
  <p>「まあいいか。これで先回りができる」</p>
  <p>&emsp;もくろみ通り。あとは謎解きだ。</p>
  <p>&emsp;預言は大抵、上半分に日時と場所が暗示されている。</p>
  <p>&emsp;下半分は、理芽を含む誰一人、読んでいない。つまり、その先に書かれた、起こるべき出来事は未定となったのだ。</p>
  <p>&emsp;預言の通り動けば、必ず起きる出来事の前で、後手に回ることになる。ならば、その預言を途中から消してしまえば、先回りして不可測獣の災害を防ぐことだって出来るはずなのだ。</p>
  <p>&emsp;口元が緩む。なんてアイデアだろう。あたしは天才かもしれない、と理芽は紙片をサコッシュに突っ込み、両手をグーにして震えた。そして、出てきた預言を、解読班に頼らず自分で解くしかないという事態に気が付いた。</p>
  <p>&emsp;そもそも、これは今夜起こるものだろうか。理芽が頭を抱えていると、足下が動き、端からゆらりと赤い魚が現れる。ビル屋上の、格子状に区切られた平面的な床を、魚は青いひれを流して悠々と泳いだ。</p>
  <p>&emsp;彼女を案じるように、周りを囲んで鳴く。</p>
  <p>&emsp;オゥーン、オゥーン。</p>
  <p>「寄らないで、って言ってるのに」</p>
  <p>&emsp;手を払って、あっちへ行けと示すが、応じない。</p>
  <p>&emsp;定獣化して以来、はすたーは理芽に懐いていた。</p>
  <p>&emsp;周りを二巡りして、赤い魚影はビルの上辺を舐めるように進んでいった。今度は自分の所に戻って来ない。</p>
  <p>&emsp;ビルの端から、はすたーの移った隣のビルを見る。</p>
  <p>&emsp;壁の中で、魚は悠々と泳いで、ひと鳴き。</p>
  <p>&emsp;オゥーン。</p>
  <p>&emsp;さらに奥のビルへ向かっていった。</p>
  <p>「呼んでいる･･････？」</p>
  <p>&emsp;理芽は助走をつけて、隣のビルへ飛んだ。</p>
  <p>&emsp;はすたーは振り返るように一回りしながら、次々とビルを移ってゆく。それを理芽は追う。</p>
  <p>&emsp;さっきの預言の「金色の盤」は簡単で、これは月だ。</p>
  <p>&emsp;月が「掲げる杯に落ちた」頃。それが日時を指している。</p>
  <p>&emsp;はすたーが預言を知っているのは自分の思考を読んだからかもしれない、と理芽は考えた。認めたくは無いが、理芽とはすたーは精神が繋がっている。そして、不可測獣にも知性が備わっているのだ。</p>
  <p>&emsp;はすたーは側面を伝って下に降りていった。理芽もまた、躊躇なく飛び降りる。落下速度は緩やかだ。</p>
  <p>&emsp;足首の記号化が激しくなってきたので、一旦小休止したい所だった。地上に降りるのは丁度いい。</p>
  <p>&emsp;下では、はすたーがぐるぐると巻いて理芽を待っていた。</p>
  <p>「ここでいいの･･････？」</p>
  <p>&emsp;オゥーン。</p>
  <p>&emsp;鳴き声が返ってきた。</p>
  <p>&emsp;ここは、建物が取り払われた空き地だ。</p>
  <p>&emsp;道路側を除いて周りのビルに囲まれており、暗い。見つかりにくいので、理芽が飛び降りるには丁度良かったが。</p>
  <p>「何も無いけど」</p>
  <p>&emsp;車の横切る、明るい道路だけが見える。</p>
  <p>&emsp;もしかして、はすたーは誰もいない所で自分に甘えたかっただけではないか。無駄足かもしれない。</p>
  <p>&emsp;疑念が湧いたが、理芽は空き地から出ることにした。</p>
  <p>&emsp;再び、踵で自分の脚を叩く。足首の不可測化を解けば、身体から漏れ出る記号はあっという間に収まった。これで見かけは普通の人間だ。片側二車線の真っ直ぐな通りに、綺麗に並んだ街路灯が眩しい。</p>
  <p>「あっ」</p>
  <p>&emsp;道路の先で視線を上げると、突き当たりに看板があった。</p>
  <p>&emsp;グラスを掲げた男の写真、そのすぐ上に月が輝いている。</p>
  <p>「金色の盤が掲げる杯に落ちた頃･･････」</p>
  <p>&emsp;それは、今夜、もうすぐだ。</p>
  <p>&emsp;赤信号に囲まれて、稲倉酒造のトラックは停車した。</p>
  <p>&emsp;常盤木の地酒を駅近くの飲食店に搬入するためには、いつも通り、ここを横切る必要があった。</p>
  <p>&emsp;そして、お決まりのエラーが起きる。</p>
  <p>&emsp;旧式のナビゲーションを積んだままの、元々はレベル５以下で製造されたこのトラックの場合、自動運転を切るのが定石である。酒造のドライバーは慣れたものだ。エラー表示を無視して、マニュアルに切り替えようとした。</p>
  <p>&emsp;･･････先の闇に。</p>
  <p>「なんだ、これ？」</p>
  <p>&emsp;珍しい、黄色い「！」の標識が立っていた。</p>
  <p>&emsp;それだけでも奇妙だが、違和感のある標識に重なって、フロントガラス上で大きく括られた輪郭が、ドライバーに警告を発している。</p>
  <p>&emsp;〝交通障害物 ｅｔｃ･･････〟</p>
  <p>&emsp;車載ＡＩは、目の前の輪郭が知識の外だと言っていた。</p>
  <p>「ナビとの複合･･････エラー？」</p>
  <p>&emsp;新たに工事でも入ったのだろうか。酒造のドライバーは、いつもと違う光景に若干戸惑い、やはりマニュアルで対応しようとした。</p>
  <p>&emsp;歩行者用信号が、静かに青へと変わる。</p>
  <p>&emsp;瞬間、街路灯の光が線と流れ、エアバッグが座席を押し潰した。圧迫に、酒造のドライバーは声すら出なかった。</p>
  <p>&emsp;車はそのまま右にスライドして、止まった。</p>
  <p>&emsp;エアバッグを押しのけて、彼は反射的に左を見る。</p>
  <p>&emsp;助手席のドアが内側にふたつ、凹んでいる。そのひび割れたガラスの向こう。頭を下げたまま、両手を突き出す少女がいた。その両腕と足首からは、判読できない文字のような物が絶えず流れては、空中に溶けてゆく。</p>
  <p>&emsp;車を押し出した。そんな不可解なことが･･････。</p>
  <p>&emsp;顔を上げた少女は、確かに言った。</p>
  <p>「逃げて」</p>
  <p>&emsp;不意に、動物的な金切り声が響いた。</p>
  <p>&emsp;車の正面に立っていた「！」の標識は消えており、さっき車載ＡＩが警告していた輪郭そのものの怪物が現れた。道路標識の骨組みで出来た、異様な姿。</p>
  <p>&emsp;不可測獣！</p>
  <p>&emsp;最近では被害が減って、マスコットみたいに扱われている。だが、デフォルメされたぬいぐるみの獣と、リアルは全くの別物だ。酒造のドライバーの感情は、瞬く間に恐怖で塗り潰された。</p>
  <p>「ひ･･････！」</p>
  <p>「逃げて、はやくっ！」</p>
  <p>&emsp;少女がいた場所に「一方通行」の矢印標識が立っていた。</p>
  <p>&emsp;轟音が響き、離れたビルに土煙が見える。</p>
  <p>&emsp;怪物、不可測獣はそちらに気を取られていた。</p>
  <p>&emsp;酒造のドライバーは、無事な運転席側のドアから転がり出て、あたふたと逃げ出した。僅かな心で、急に姿が見えなくなった少女を振り返る。</p>
  <p>&emsp;――不可測獣の実在は知られている。異住定獣課も。</p>
  <p>&emsp;それと、もう一つ。これは市内の学生の間で広がる、都市伝説ではあったが。</p>
  <p>&emsp;常盤木には、〝魔女〟が出るという･･････。</p>
  <p>&emsp;再びの金切り声が、思考を止めた。</p>
  <p>&emsp;彼は、ひたすらに走った。</p>
  <p>&emsp;その〝魔女〟、理芽は破壊されたビルの瓦礫に埋もれていた。</p>
  <p>&emsp;舞い上がった土埃が視界を遮る。</p>
  <p>「かはっ、はぁっ」</p>
  <p>&emsp;あまりの衝撃に、呼気を吐き出した。</p>
  <p>「一方通行」の標識が、強烈な斥力場を生み出したのだ。</p>
  <p>&emsp;不可測化していなければ、背骨が砕けていただろう。</p>
  <p>&emsp;コンクリートを割る程の速度で身体を撃ち込まれてなお、剥き出しの鉄筋に手をかけ、理芽は立ち上がる。</p>
  <p>&emsp;ここから先は、常人の領域ではない。</p>
  <p>&emsp;預言の句、迷い子は七つの流れ交わる所に浮かび上がる。</p>
  <p>「迷い子」とは間違いなく不可測獣。</p>
  <p>「七つの流れ交わる所」、それは常盤木駅前のスクランブル交差点、この場所だ。</p>
  <p>&emsp;理芽は、そのことにぎりぎりで気が付いた。</p>
  <p>&emsp;手首と足首から散ってゆく記号は、かけられた呪いのようだった。</p>
  <p>&emsp;それでも、笑えてきた。</p>
  <p>「勝ったっ」</p>
  <p>&emsp;金属の鳴き声。ビルを砕いた土煙を割って、不可測獣のくちばしが縦に降ってきた。理芽は、それを避けて飛ぶ。</p>
  <p>&emsp;獣のくちばしは理芽のいた場所へ打ち下ろされ、コンクリート片をさらに細かく砕き、埋まった。</p>
  <p>「預言に先回りしたっ」</p>
  <p>&emsp;頭上を舞う不可測化した理芽は、記号片を撒きながら、羽毛めいて軽く。</p>
  <p>&emsp;そして、鉄塊の如く重い。空を掻いて出された隕石のような蹴りが、動けない不可測獣の横腹に刺さった。トラックをいとも簡単に転がす獣が一撃で、半壊したビルから交差点まで吹っ飛んでゆく。</p>
  <p>「あたしん勝ちだ！」</p>
  <p>&emsp;着地した理芽が、誇った。</p>
  <p>&emsp;金切り声がひと鳴き、足下にバツ印の「通行止め」標識がせり上がった。前後左右に四本。途端、理芽は縛り付けられたように動けなくなる。</p>
  <p>「って、何･･････これ･･････っ」</p>
  <p>&emsp;動けぬ間に姿勢を立て直した不可測獣は、巨大な全身を見せた。理芽にもようやく理解できたが、それは様々な形の交通標識と、それを支える白い鉄棒が張り巡らされた、羽の無い鳥だ。恐竜の骨格標本のようでもあった。</p>
  <p>&emsp;理芽に向かって、無機物の獣が走る。開けた距離も、たった数歩で肉薄された。不可測な、大質量の蹴りが来る。</p>
  <p>&emsp;流石にマズい。</p>
  <p>&emsp;三杉さんは言った。</p>
  <p>&emsp;休んでいい。</p>
  <p>&emsp;危なくなる前に、逃げてもいい。</p>
  <p>&emsp;あなたには、そもそも断る権利がある。</p>
  <p>&emsp;率先して、命を張るな。</p>
  <p>&emsp;汚い大人の理屈だ。</p>
  <p>&emsp;目の前で起ころうとしている酷い事を、黙って見過ごせるほど理芽は無責任ではない。それが分かった上で、大人はそんな言葉を優しく投げかけてくれる。</p>
  <p>&emsp;･･････理芽は仰向けになっていた。</p>
  <p>&emsp;一瞬、意識が飛んだらしい。</p>
  <p>&emsp;カットソーのワンピースは破れて、ボロボロだ。</p>
  <p>&emsp;地響きが伝わる。化け物が追い打ちをかけにきた。</p>
  <p>&emsp;次は、踏み潰されると思う。</p>
  <p>&emsp;もう、舞台に上がってしまっているのだ。</p>
  <p>&emsp;優しい言葉は要らないから、今は応援して欲しい。</p>
  <p>&emsp;昔の特撮みたいに、理芽ちゃん頑張れって、叫んでくれる子供が欲しい。</p>
  <p>「うぐっ･･････」</p>
  <p>&emsp;理芽は、不測の体重をかけた踏みつけに腕を張って、抵抗した。見かけ上の質量差は言うまでも無いが、実際には拮抗している。</p>
  <p>&emsp;怪物が鳴いた。勝ち誇っているのか。</p>
  <p>&emsp;徐々に、腕が曲がる。潰されて、その、死ぬ。</p>
  <p>&emsp;おしまいだ。</p>
  <p>&emsp;三杉さんは、こうも言っていた。</p>
  <p>「必要な時に、助けてって言えるのも大人なのよ」</p>
  <p>&emsp;呼びたくない。</p>
  <p>&emsp;意地でも、呼びたくない。</p>
  <p>&emsp;顔を歪めて、理芽は叫んだ。</p>
  <p>「はすたーッ！」</p>
  <p>&emsp;オゥーンッ！</p>
  <p>&emsp;地面に溶け込んでいた、赤い魚が急浮上する。</p>
  <p>&emsp;それは平面の壁を超えて、理芽のいる世界に跳ね飛んできた。不意の体当たりで、道路標識の巨鳥は姿勢を崩し、地面を揺らして倒れ込む。金切り声の悲鳴。はすたーはその長い身体で、理芽を守るように囲った。これ以上、主人を傷つけまいと。</p>
  <p>&emsp;はすたー。</p>
  <p>&emsp;こいつの力を借りる。それしかない。</p>
  <p>&emsp;寝そべったまま、傍らに折れて転がった交通標識の軸に触れた。理芽の能力は、自身の身体と、触れる物を不可測存在に変えること。白い鉄の棒が変換され、直線的で洗練された儀仗が現れた。</p>
  <p>&emsp;それを支えによろよろと立ち、理芽は、覚悟を決めた。</p>
  <p>&emsp;この〝現実〟で勝ち目がないならば、ひとつの〝物語〟を選ぼう。</p>
  <p>&emsp;不可測獣は三度起き上がり、今まで以上に大きく鳴いた。</p>
  <p>&emsp;明らかに、怒りの雄叫びだ。</p>
  <p>&emsp;理芽は流れに棹さすように、儀仗を立てる。</p>
  <p>「有り得ざる世は幻。我が身にとり、真実はひとつ。有り得べき世界はひとつ！」</p>
  <p>&emsp;この世ならぬ教義を口にした。</p>
  <p>&emsp;世界は多様だというけれど。他の〝物語〟を選んだことはない。周りに合わせて変容するほど、理芽は器用ではいられないからだ。</p>
  <p>「あたし達は、ひとつになる。はすたー、おいで！」</p>
  <p>&emsp;オゥーン！</p>
  <p>&emsp;そして、はすたーは大きく口を開き･･････理芽を喰った。</p>
  <p>&emsp;その顎門を開いて、彼女をひと飲みにした。</p>
  <p>&emsp;不可測獣が金切り声を上げ、地面から突き出した大量の標識の串刺しになる前に、はすたーは道路の下の世界に潜り、それを躱す。</p>
  <p>&emsp;一方、異住定獣化のオフィスでは、二本目の預言が届いていた。笛吹きによる再度のものだ。三杉が現場に向かった後での異例の事態に混乱する中、職員は筒状の容器を開けて預言を読んだ。緊急時の対応だ。</p>
  <p>&emsp;金色の盤が掲げる杯に落ちた頃</p>
  <p>&emsp;迷い子は七つの流れ交わる所に浮かび上がる</p>
  <p>&emsp;その者は緋衣と杖を振るい</p>
  <p>&emsp;間もなく獣を定めるだろう</p>
  <p>&emsp;物語は、つづく</p>
  <p>&emsp;直後、はすたーに異変が起きる。</p>
  <p>&emsp;赤いその身体はみるみる縮んでゆき、人間のサイズへと変わっていった。体表色は圧縮に従って濃度を増し、赤から緋に転じてゆく。青の幾何学模様が縦横に走った。</p>
  <p>&emsp;内側から、目を閉じた理芽が表れる。</p>
  <p>&emsp;〝はすたー〟であったはずの赤い魚身は、いまや緋色の法衣となり、理芽と一体になっていた。ふたつであった、ひとつのものは、再び地平から抜け出し、浮かび上がる。</p>
  <p>&emsp;はすたーの口を象ったフードがはだけて背中に回り、肩に触れるぐらいの青く染まった髪が揺れた。</p>
  <p>&emsp;――理芽・第一異装形態、緋袍（あけごろも）。</p>
  <p>&emsp;無数の可能性世界から選び取った、ひとつの姿。化け物に捨身することにより、転じて力を得る僧達の〝物語〟だ。</p>
  <p>&emsp;静かに、恒星の宿る眼が開かれた。</p>
  <p>「あなたの名前を、定めよう」</p>
  <p>&emsp;姿を変えた少女を認めて、不可測獣は交通標識の骨格を軋ませながら叫んだ。引き摺ったような金切り声だ。</p>
  <p>「〝トラフィカ〟、それが、あなたの名前」</p>
  <p>&emsp;８０、１１０、制限速度の標識が立ち並び、加速する。</p>
  <p>&emsp;名を定められた獣、トラフィカの全力の突進だ。</p>
  <p>&emsp;踏み込んだ爪がアスファルトを削り、前傾姿勢は理芽の軸を確実に捉えた。</p>
  <p>&emsp;逆手に儀仗を構えたまま、理芽は動かない。</p>
  <p>&emsp;衝突する･･････その刹那。</p>
  <p>&emsp;緋色の法衣は、跡形もなく消えていた。</p>
  <p>&emsp;限りなく〝空〟に近付いて、なおも理芽の言葉は続く。</p>
  <p>「･･････交通ルールの中で生まれた情報生命体。道路に沿って流れ、ルールを乱す酒を好み、飲んでは眠る。それが、あなたと接続した〝物語〟」</p>
  <p>&emsp;煙を曳いて急ブレーキを踏むトラフィカは辺りを見回し、叫んだ。定めに抵抗するように。その力を振るえば振るうほど、不可測獣はその取り巻く〝物語〟に絡め取られてゆくのだ。</p>
  <p>&emsp;理芽はその背中に、法衣を翻して降り立つ。</p>
  <p>&emsp;はすたーの能力を転写した、緋袍の空間転移だ。</p>
  <p>「そして――」</p>
  <p>&emsp;双眸に備わった〝天眼〟は、怪鳥の弱点を見抜いていた。</p>
  <p>「逆鱗は背中に、ある！」</p>
  <p>&emsp;両手で杭を打ち込むように。</p>
  <p>&emsp;トラフィカの背の一点に向け、儀仗の先端を突き刺した。</p>
  <p>&emsp;断末魔の金切り声がスクランブル交差点に響き渡る。</p>
  <p>&emsp;飛び離れると、巨鳥を形成していたトラフィカの身体から、がらがらと交通標識が落ちていった。白い鉄棒と四角、三角、丸で出来た看板の山が築かれてゆく。</p>
  <p>「･･････ありがと。早く、離れて」</p>
  <p>&emsp;ひと息置いた理芽は、自身と一体化していたはすたーに呼びかけた。寂しげなひと鳴きが聞こえ、理芽の身から緋色の衣が離れてゆく。その髪の色や、目の色も、元に戻っていった。</p>
  <p>&emsp;トラフィカの蹴りを受けて痛んだ服は、残念ながら元には戻らなかった。</p>
  <p>&emsp;標識の山を登ってゆく。</p>
  <p>&emsp;山の上には、小さな鳥が倒れていた。</p>
  <p>&emsp;おそらく、これがトラフィカの本体だ。</p>
  <p>&emsp;交通標識で身を鎧った、弱々しい姿。</p>
  <p>&emsp;理芽は･･････、まだ握っている儀仗を、振り上げた。</p>
  <p>&emsp;不可測獣は可能性世界の迷子である。どのような者であっても、異住定獣課は拒まず受け入れなければならなかった。理芽もまた、半分は不可測の存在だ。</p>
  <p>&emsp;だが、その理屈を理芽は納得していない。</p>
  <p>「あたしは、あんた達が･･････憎い」</p>
  <p>&emsp;かつて、両親の命を奪った化け物達を、許して受け入れろというのだ。</p>
  <p>&emsp;どうやっても、出来ない。</p>
  <p>&emsp;懐いてくるはすたーにも、愛情を覚えるには程遠い。</p>
  <p>&emsp;儀仗を掲げる手に、力が入った。</p>
  <p>&emsp;手首も足首も、漏れ続ける記号が止まらない。このまま不可測の領域に留まれば、いずれは不安定な状態を通り越して、理芽の身はカオスに還元されることになるだろう。この状態は死と隣り合わせなのだ。</p>
  <p>&emsp;そして理芽は、儀仗を。</p>
  <p>&emsp;その瞬間、空気の揺れる音がして、多重にブレたような感覚と、焼け付く痛みが全身を襲った。標識の山を転がり落ち、倒れる。これも痛い。</p>
  <p>&emsp;儀仗を取り落とし、両腕を抱いて、思わず呻いた。</p>
  <p>「ぐかっ、くぅ･･････！」</p>
  <p>&emsp;この激痛は、分かっている。</p>
  <p>&emsp;三杉さんだ。</p>
  <p>&emsp;対不可測獣の切り札、ＣＯＭ（変動観測機）とＦＦＷ（変動固定波発生機）を自分に使ったのだ。あんな自衛隊の特殊車両みたいなやつで･･････。</p>
  <p>&emsp;想像通り、ヒールを鳴らして三杉がやってきた。</p>
  <p>&emsp;夜の街灯を反射して、眼鏡が光っている。</p>
  <p>「間に合ったわね。早まるからよ」</p>
  <p>「三杉さんのばかたれ」</p>
  <p>&emsp;自分だって課の一員だ。感情に流されて、本当に不可測獣を殺すわけが無いだろうに。理芽は、人間相手に電子レンジを使うような荒っぽさを呪った。やっぱりこの人は、親代わりなんかじゃない。</p>
  <p>&emsp;痛み残りで動けない。上目で三杉を睨んだ。</p>
  <p>「でも、あなたを止めるまでも無かったみたいね」</p>
  <p>「えっ？」</p>
  <p>&emsp;首を巡らせて標識の山を見る。</p>
  <p>&emsp;トラフィカだった小鳥は記号化してゆき、崩れて消えていった。ひとつの〝物語〟との接続を拒んだ不可測獣は、最終的に跡形も無く消滅してしまう。それは、世界に受け入れられなかったということだ。</p>
  <p>&emsp;三杉は、どこからか数珠を出して、祈り始めた。</p>
  <p>&emsp;この人の家系は、辿ると祈祷師みたいなものらしい。</p>
  <p>「･･････不可測獣は、どこへ行くのかな」</p>
  <p>&emsp;三杉は、答えない。</p>
  <p>「･･････お母さんや、お父さんとは、違う所に？」</p>
  <p>「かもしれないわね。その破れた服じゃ歩けないから、車に乗って。というか、まず医者よ。後でこってり絞ってあげるから、覚悟なさい」</p>
  <p>「えぇー」</p>
  <p>&emsp;理芽の手首と足首から漏れ出ていた記号は、ＦＦＷで無理矢理人間に戻されたお陰で、すっかり消えていた。</p>
  <p>「新しい協力者？」</p>
  <p>「そう、この三人」</p>
  <p>&emsp;気送管が巡る異住定獣課のオフィスで、理芽は三杉の置いたレポートを見る。そこには様々な境遇の、候補者の情報が記載されていた。</p>
  <p>&emsp;一人目は花譜。自分より年下の女の子。写真から人柄は窺えないが、ちょっと後の世代がどんな事を考えているのか、理芽は興味があった。</p>
  <p>&emsp;二人目は春猿火。変わった名前だが、屋号だそうだ。なんだか芯が強そうだなと思える。だが、このレポートだと案外可愛い所もあるようだ。</p>
  <p>&emsp;三人目はヰ世界情緒。この中では唯一、１００パーセントの不可測存在だった、この世界への異住者だ。つまり由来的には不可測獣と同じということ。</p>
  <p>&emsp;不思議ちゃんっぽい。</p>
  <p>「･･････なかなか個性的な選出ですね」</p>
  <p>「適任が少ないのよ」</p>
  <p>&emsp;なにしろ、いつ何が起こるか分からない状況下なので、仲間が増えることには歓迎だ。この面子だと、自分が一番お姉ちゃんになるのかもしれないなと理芽は思った。</p>
  <p>&emsp;書類の一点を指差して、言ってみる。</p>
  <p>「いいよ、なかなか気に入った。特にここ、みんな歌が好きらしい、って所。趣味が被ってます」</p>
  <p>「あら。たまたまだけど、良いかもね。理芽は？」</p>
  <p>&emsp;微笑んで、答えた。</p>
  <p>「うちもばいっ」</p>
  <p>&emsp;･･････老いさらばえた首都・東京から、化け物達の眼を逸らすため造られた人工都市・常盤木。大人達の都合に翻弄されながらも、理芽は懸命に生きている。</p>
  <p>&emsp;不可測獣はどこから来るのか。</p>
  <p>&emsp;亜世代量子通信網を手にした人々は、どこへ向かうのか。</p>
  <p>&emsp;ゆらぎ並ぶ異世界の中で、測れない物事をひとつひとつ、定めてゆく。</p>
  <p>&emsp;こちらは椿咲く地の、異住定獣課。</p>
  <p>&emsp;あなたの世界も、平らかで、安らかであれと願っている。</p>
  <p>&emsp;物語は、つづく。</p>
</div>
