<div class="textbox">
  <h4>爆弾<span class="small">詩然河勝</span></h4>
  <p>&emsp;七月。</p>
  <p>&emsp;歌手は東京のホテルの窓から空を眺めていた。いつもこの時は眠れない。</p>
  <p>&emsp;遠いところから東京に通うのはなかなか大変で、ここにくるまでにずいぶん疲れるのに、明日のことを思うとどうしても眠れないのが通例だった。冷めやまない興奮。明日カラオケに行く約束をしている学生が、その前日に、歌いたいああ歌いたいともじもじして、布団の中でのたうちまわりたくなるような、そんな感覚に耐えられなくなって、歌手は窓際にある小さな椅子に腰掛け、空を見ていた。</p>
  <p>&emsp;地元とは違う。東京の空は明るい。こういう時期だというのもあって、以前よりも少しは星が見えているような気はした。しかし、あっという間に時間は過ぎて、東の空に青色が淡く滲んでくる。</p>
  <p>
    &emsp;聴いていた音楽が止まった。またアプリで他のアルバムを聞こうかとも思ったが、これからの予定を考えて、Youtubeの方を開いた。すっすと慣れた手つきで白いアイコンをタップしてあの人のチャンネルに入り、動画を再生し始める。</p>
  <p>&emsp;イヤホンから流れる優しいピアノの音が、未明の空に溶け始めたころ、歌詞が流れ始める。</p>
  <p>&emsp;爆弾のような花火が街を駆け巡る頃</p>
  <p>&emsp;あなたのことを思い出すのです</p>
  <p>&emsp;六月。</p>
  <p>&emsp;東京の某スタジオで、収録を終えた一行が休憩をとっていた。歌手と作曲者と、彼らを支えるスタッフ数人で、ねぎらいの言葉をかけあったり水を渡したりしていた。活動を始めて一年半を過ぎ、もうお馴染みの光景。いつものメンバーでのいつもの作業。しかしこの日は以前と違うところがいくつもあった。水を飲んだら、すぐにマスクをつける。ハイタッチをしようとした二人が、はっと気づいてやめる。夏はまだまだこれからなのに、換気の音がずっと響いている。なんならスタジオとしては稀なことに、可能な限り多くの扉が開きっぱなしだ。そもそも、この収録じたいが久しぶりのものだった。</p>
  <p>「当たり前を失った世界が、当たり前になっちゃったね」</p>
  <p>&emsp;ある一人が作曲家にペットボトルの水を渡した。</p>
  <p>「ええ、ほんとうに。……というか、監督、ほんとうにグイくん好きですよね」作曲家が受け取る。</p>
  <p>「特にLove And Musicは印象深いよ。天才が、努力して、力作を作った。そんな感じの曲」</p>
  <p>&emsp;水を飲み終えた作曲家が「あぁー言い得て妙ですね」と言ってマスクを口に戻し、ペットボトルの蓋をしめた。</p>
  <p>「天才とは思いますけど、積み重ねもやはり大きいんだと思いますよ。新曲を作るたびに自分の哲学を進化させていきますからね、彼は」</p>
  <p>「前に取材を受けた時、そんなことを言っていたな……」回想するように右を向いて言った。するとすぐ、何かを思い出した様子で「新曲といえば、カンザキくんのやつって確か……」と視線を合わせる。</p>
  <p>「あーっとそうですね、確か、今日の二十時に――」</p>
  <p>「いま、十九時五十九分ですよ」綺麗で特異で、しかし聴き慣れた声が遮った。</p>
  <p>&emsp;近くでスマホを見ていた歌手が会話に割り込んできたのだ。「イヤホン接続切ったほうがいいですか？」</p>
  <p>&emsp;そう言ってスマホを作曲家の方へ向ける。</p>
  <p>&emsp;［あと1分後にプレミア公開］</p>
  <p>&emsp;［カンザキイオリ　爆弾］</p>
  <p>&emsp;作曲家と監督が画面に注視したくらいのタイミングで、ちょうど時刻は二十時を回った。〝1分後〟の文字は消え、サムネイルに変わって、定番の六十秒カウントダウン映像が流れ始めた。彼女のイヤホンからはきっとあの特徴的な旋律が流れていただろう。話を聴いていたスタッフたちが近寄ってくる。</p>
  <p>
    「マジじゃん。これは、PCの大きな画面で観るべきだな」スマホの小さな画面に大人数が集まると密になってしまうと瞬時に悟った監督は、流れるように自分のノートPCを取り出して、簡易長机の上に置き、Youtubeを開いた。誰もが予想していた通り、すぐにスタッフのほとんど全員が動画を観に来た。</p>
  <p>&emsp;映像が動的になった。残り十秒を切った合図だ。九、八、七、――その場にいる全員が黙っていて、その場にはカウントダウンの音楽だけが、ぽんぽろぽんと流れている。四、三、二、――この時、世にエンターテイメントを届ける精鋭たちと、それを観測する者たちの、緊張感、期待感、臨場感、そういった静かな興奮は、リモートで完全に一致していた。</p>
  <p>&emsp;一、そして、ブラックアウト。――音楽が止んで、一瞬、無音になる。換気扇の音が聴覚を支配しにかかったが、心地の良いピアノの音がそれを阻止した。ついで二小節後、綺麗な鼻濁音がこれに重なる。これが機械音声だと思い出すまでに二拍。そしてさらに六拍後、いよいよ歌詞が流れ始めた。</p>
  <p>&emsp;七月。サビ。</p>
  <p>&emsp;親愛なるあなたの爆弾になれるでしょうか</p>
  <p>&emsp;あなたの全てを打ち壊すような</p>
  <p>&emsp;そんな夏になりたい</p>
  <p>&emsp;静かだった曲調が壮大になる。そうか、夏か。もう夏に差し掛かるんだなあ、なんてことを、リズムに呼応して肩や首なんかを動かしながら考え、窓を開けてみた。未明の冷えた、しかしそこまで寒くはない空気が流れ込んでくる。ひとしきりその空気感を楽しめたかと思えば、二番の歌詞がそれに対抗するように溢れ出してきた。歌手は、自分がいま、滝が流れ落ちるその崖の上に立っているような爽快感を感じていた。</p>
  <p>&emsp;あなたもきっとお金とか生活とかに染まりながら</p>
  <p>&emsp;大切な何かを探していますか</p>
  <p>&emsp;探しているよ。今も私は、ここで歌っている。</p>
  <p>&emsp;昨今の情勢のせいで、しばらくカラオケに行くこともできていない。</p>
  <p>&emsp;金魚鉢の中のよう</p>
  <p>&emsp;しかし歌手はいま、ここにいる。ここで夢のような日々を未だ、文字通り謳歌できていた。それは、歌手自身の努力の成果であり、歌手を支えていきた人々の成果であり、――彼女たちが数多と世界に投下してきた、この世界に作った、言葉の爆弾が作り出した、クレーターだった。</p>
  <p>&emsp;親愛なるあなたへ</p>
  <p>&emsp;私はいつか私になって</p>
  <p>&emsp;さよならが全て愛しいことを――</p>
  <p>&emsp;その時だった。</p>
  <p>&emsp;なんだか空が光るのを感じた歌手は、その光の元を、西の空を見やった。</p>
  <p>&emsp;そこにあったのは、紛れもなく、――爆弾。</p>
  <p>&emsp;七月二日未明、東京湾上空で、大火球が観測された。</p>
  <p>&emsp;その光は、観測者全ての目を焦がし、歌手の目にもまた、確かな光と彩りを与えていた。</p>
  <p>&emsp;必ず証明してみます</p>
  <p>&emsp;親愛なるあなたの爆弾になれるでしょうか</p>
  <p>&emsp;あなたの全てを打ち壊すような</p>
  <p>&emsp;そんな詩を書きたいのです</p>
  <p>&emsp;あなたの全てを見下ろせるような</p>
  <p>&emsp;そんな夏になりたい</p>
  <p>&emsp;上空には、爆弾の残した青白い軌跡と、かすかに見える星々と、淡い光を放つ空。そこに名曲の旋律が重なって、爆発的な芸術を歌手にまざまざと見せつけた。只中にいて、彼女は震えた。空に釘付けになった。程なくして、ジェット機のような、おそらくあの爆弾が大気圏を通過している音がなだれ込む。それが曲の旋律と重なる。思わず目を閉じて音に集中した。そして、全ての音が鳴り止み、虫の鳴く声が辛うじて聞こえる程度になった。目を開けると、そこはもう、いつもの東京の夜だった。</p>
  <p>&emsp;しばらく歌手は、何もできなかった。</p>
  <p>&emsp;……明日、この曲を収録しに行くのだ。流石にもう寝ないと。</p>
  <p>&emsp;窓を下ろし、カーテンを閉じてベッドに入り、再び歌手は、目を閉じた。</p>
  <p>&emsp;親愛なるあなたの爆弾になれるでしょうか</p>
  <p>&emsp;あなたの全てを打ち壊すような</p>
  <p>&emsp;そんな夏になりたい</p>
</div>
