<div class="textbox">
  <h4>生き解を求めて<span class="small">じゃすみん。</span></h4>
  <p>&emsp;僕が見たのは夢か現か。</p>
  <p>&emsp;思いのままに一晩中歩き回った所為で視界が覚束ない。</p>
  <p>&emsp;だが僕の前に立っている少女は確かに現実から浮いていた。</p>
  <p>&emsp;朝焼けが差して、辺りの高層ビルが次第に形を帯びていく。照らされる彼女の髪は秋桜のような桃色に輝いていた。</p>
  <p>&emsp;街灯が眠りにつこうとしているとき、僕は少女の魔法に魅せられた。</p>
  <p>&emsp;＊＊＊＊＊＊</p>
  <p>&emsp;僕はなんだってできる気がした。</p>
  <p>&emsp;前々から目標にしていたＩＴ関連企業に就職するために、両親の反対を押し切って上京した。晴れて顧客から依頼されたソフトウェアを制作する会社に入社し、上司からも期待の新人と評されていた。</p>
  <p>&emsp;意気揚々とキーボードを鳴らしながらプログラムを組んでいく。お客様に満足して頂けるソフトを作るために、日夜モニターとにらめっこをする。忙しくてつらい夜があっても、エナジードリンクを流し込んで喰らいついていった。</p>
  <p>&emsp;だが、現実は自分の思い描いていたようにはならなかった。</p>
  <p>&emsp;僕が相当の時間を注ぎ込んで作ったプログラムは、上司の手によってあっさりと否定されてしまった。最初は、そういうもんなんだなと、ありがたく教えを頂いていた。上司も一人の社員として多くの経験を積んでいるその道のプロであるからだ。</p>
  <p>
    &emsp;しかしその否定は一度や二度に留まらず、上司の声色も次第に怒りへと変わっていった。いま思い返せば、僕はお客様に満足して頂けるプログラムではなく、上司の怒りを買わないプログラムを作るようになってしまったのかもしれない。</p>
  <p>&emsp;それでは何も面白くない。</p>
  <p>&emsp;僕はそんなプログラムを書くために上京したわけではない。でも、そうしないと怒られてしまう。それでは僕だけでなく上司も楽しくないだろう。</p>
  <p>&emsp;なんのために私はプログラムを書いているのだろう。</p>
  <p>&emsp;入社して半年が経とうとしたある日のこと、僕は簡単な書類すら手につかなくなってしまった。本気を出せば一時間ほどで完成するだろう。それなのに、手が全く進まないのだ。</p>
  <p>&emsp;もちろん上司にはこっぴどく叱られた。それでも不思議なことに、本当に何もできなかった。気づけば冷たい涙が頬を伝っていたのだ。</p>
  <p>&emsp;僕は終ぞ会社に行くことすらできなくなってしまった。</p>
  <p>&emsp;携帯電話が一人で鳴り続ける。</p>
  <p>&emsp;どうすればいいか分からなかった。</p>
  <p>&emsp;東京駅から広がる高層ビルの群れを前に抱いた半年前の自信は、どこへ消えてしまったというのだろうか。今や古ぼけたアパートの隅でうずくまり、泣きながら自問を繰り返すことしかできなかった。</p>
  <p>&emsp;なんのために親の反対を押し切ってまで上京したのか。</p>
  <p>&emsp;なぜ私は簡単なことすらできないのか。</p>
  <p>&emsp;どうして私は生きているのか。</p>
  <p>&emsp;考えてもきりがなかった。でも、考えるしかできなかった。</p>
  <p>&emsp;部屋は閉め切ったカーテンの所為もあって夜の深い闇に覆われている。</p>
  <p>&emsp;家を出ることすら億劫になり、食料は尽きてしまった。余ったエナジードリンクをお腹に流し込んで空腹を紛らわす。</p>
  <p>&emsp;こんな自分に居てもたっても居られなかった。アパートの壁を思いっきり殴りつければ何か変わるだろうか。</p>
  <p>&emsp;このままじゃいけないという思いはあった。でもどうすればいいのか分からない。どう生きるのが正しくて、何が間違いなのか。分からないが、いまここで泣いているのは違うと本性のどこかで叫んでいた。</p>
  <p>&emsp;どうにもならないもどかしさは、僕の足を玄関の外へと向けた。</p>
  <p>&emsp;思い悩むと家出をしたくなる少年の気持ちが、今なら分かる気がした。</p>
  <p>&emsp;照りつける街灯は今の僕には眩しかった。</p>
  <p>&emsp;この街は夜でも色んな顔の人が行き交う。中には貧しさに暮れて彷徨っているような人も見かけた。終電で帰っていた頃には見向きもしなかったが、今は気になってしょうがない。</p>
  <p>&emsp;ひたすら泣きながら歩く僕の影を呼び止める声はなかった。</p>
  <p>&emsp;僕は思うがままに歩いた。涙で乱反射した東京の景色がやけに脳に焼き付いた。</p>
  <p>&emsp;頭の中の考えもぐるぐると歩き回っていた。</p>
  <p>&emsp;何がいけなかったんだろうと。</p>
  <p>&emsp;どこで道を間違えたんだろうと。</p>
  <p>&emsp;ぼろぼろになっていく自分が怖かった。</p>
  <p>&emsp;ならばどう生きればよかったんだろうか？</p>
  <p>&emsp;歩けどその答えがでる筈もなく。</p>
  <p>&emsp;意味もないと知って僕は歩き続けた。</p>
  <p>&emsp;＊＊＊＊＊＊</p>
  <p>&emsp;どれくらい時間が経っただろうか。</p>
  <p>&emsp;気付けば空は白み始めていた。</p>
  <p>&emsp;ふと、目に映りこんできた景色に見覚えがある気がした。。</p>
  <p>&emsp;確かこれは――東京にやって来て初めて見た街。東京駅前の広い通り。</p>
  <p>&emsp;こんなところまで来てしまったのか。</p>
  <p>&emsp;周りには人っ子一人居ない。</p>
  <p>&emsp;が、ふと――声が聞こえた気がした。</p>
  <p>&emsp;いや、気のせいではない。よく透き通った、でも儚く直ぐに溶けてしまいそうな、まるでアイスクリームのような女の子の歌声が。</p>
  <p>&emsp;声の聞こえた方に目を向けると、通りの真ん中を歩く人影があった。青の独特なポンチョを羽織った背中。あの人が声を発しているのは間違いなかった。</p>
  <p>&emsp;誰に語りかけているんだろうか。</p>
  <p>&emsp;ふと耳を傾けたとき、少女はこちらを向いてこう語った。</p>
  <p>『正解のない旅をしよう――』</p>
  <p>&emsp;と。</p>
  <p>&emsp;柔らかな旋律と歌声でそう誘われた。</p>
  <p>『――変わっていくことに怖がる必要はないから』</p>
  <p>&emsp;少女はそう続ける。</p>
  <p>&emsp;その言葉は不思議とどう生きるか悩み続けた私を否定されたようには感じなかった。何故だか分からない。むしろ優しく寄り添ってくれるような、そんな――</p>
  <p>『正解のない日常へ　そこではきっと一人じゃない』</p>
  <p>&emsp;乾いた涙の上にはまた、雫が流れた。。でも冷たい涙じゃない。あたたかな優しい涙。</p>
  <p>『間違いを間違いで終わらせないで――』</p>
  <p>『涙を涙で拭わないで――』</p>
  <p>&emsp;軽やかに歌ってみせる彼女だが、その言葉には確かな重みがあった。</p>
  <p>&emsp;私をそう思わせるだけの魔力が確かにそこにあった。</p>
  <p>『確信があるその心が叫んでる　ここならもう一人じゃない――』</p>
  <p>&emsp;その歌を聞き終えたとき、自分の中になにかが生まれた気がした。</p>
  <p>&emsp;私はまだ生きるのだ。</p>
  <p>&emsp;それが正解かどうかなんて分からない。</p>
  <p>&emsp;もちろん怖さはある。でも恐れる必要はないんだ。</p>
  <p>&emsp;だから、自分が正解だと思う方に向かってみよう。</p>
  <p>&emsp;決意を胸に泣き顔を拭ったとき、そこにはもう少女の姿はなかった。</p>
  <p>&emsp;＊＊＊＊＊＊</p>
  <p>&emsp;次の日。</p>
  <p>&emsp;僕は会社に向かった。そして退職願を迷わずに突きつけた。</p>
  <p>&emsp;これが正解かどうかなんて誰にも分からない。</p>
  <p>&emsp;でも間違いは間違いで終わらせない。</p>
  <p>&emsp;こうして僕は、自分の思う正解を探す旅に出た。</p>
</div>
