<div class="textbox">
  <h4>増えたのはローソクと<span class="small">じゃすみん。</span></h4>
  <p>ローソクを一本差した。<br>
    　慣れないライターを使って火を点ける。<br>
    　自分で灯した火に自分の息を優しく吹きかけて消す。<br>
    　煙のにおいと静けさが漂うなか、私はイチゴの乗ったショートケーキにフォークを差して口へ運んだ。<br>
    「美味しっ」<br>
    　独り言が部屋に反響する。<br>
    　私はひとり、満足感に浸っていた。<br>
    　わずか一年前の話――。</p>
  <p>今年はローソクを二本差した。<br>
    　差したのは私じゃない。<br>
    　遠い国の言葉をすごーく上手に操る、黒髪ショートヘアのお姉さん。<br>
    　器用な手先で優しく差すもんだから、ケーキは全く崩れない。<br>
    　その二本のローソクにライターで火が灯される。<br>
    　火を点けたのはまた違う女の子。<br>
    　儚さと力強さが一緒に住んでるかのような声がとてつもない、美味しそうなクリーム色の髪をなびかせている女の子だ。<br>
    　流れるようにライターを扱うその手付きはまるで専属のメイドみたい。<br>
    　そしてケーキを器用に五等分してみせたのもまた私じゃない。<br>
    　ずば抜けた声のパワーを持っている、長い黒髪に入った赤のメッシュがクールなお姉さん。<br>
    　包丁を軽く扱ってみせるその姿からは女子力の高さがあふれ出している。<br>
    　私はぽつりと呟く。<br>
    「美味しそうだね」<br>
    　その一言はもう独り言ではない。<br>
    「そうやね」<br>
    　って笑って返してくれるかっこいいお姉ちゃんがいる。<br>
    　彼女もまた確かな歌の実力を持つ。けど、ときどき魅せる方言がとってもキュートなお姉ちゃん。<br>
    　ほんとはお姉ちゃんじゃないんだけどね。</p>
  <p>ケーキを囲うのは、みんな私の歌がきっかけでできた大切な友達。<br>
    　今日は私の節目をこうして祝ってくれる友人がいる。<br>
    　本当にありがとう。<br>
    「「「「花譜ちゃん、活動二周年おめでとーっ！」」」」</p>
</div>
