<div class="container my-3">
  <div class="novels my-5">
    <h2>小説</h2>
    <a class="novel-link" routerLink="/novel/contents/出会い">
      <h3>出会い</h3>
      <p>まなまな</p>
    </a>
    <a class="novel-link" routerLink="/novel/contents/生き解を求めて">
      <h3>生き解を求めて</h3>
      <p>じゃすみん。</p>
    </a>
    <a class="novel-link" routerLink="/novel/contents/とある少女の秋">
      <h3>とある少女の秋</h3>
      <p>鼓膜売り</p>
    </a>
    <a class="novel-link" routerLink="/novel/contents/増えたのはローソクと">
      <h3>増えたのはローソクと</h3>
      <p>じゃすみん。</p>
    </a>
    <a class="novel-link" routerLink="/novel/contents/笛吹きの預言">
      <h3>笛吹きの預言</h3>
      <p>タタミベリ</p>
    </a>
    <a class="novel-link" routerLink="/novel/contents/爆弾">
      <h3>爆弾</h3>
      <p>詩然河勝</p>
    </a>

    <hr class="my-5">

    <h2>歌ってみた</h2>

    <h3>「そして花になる」</h3>
    <p>つも / よりおじ / Kirin</p>
    <audio src="https://us-s3.arkjp.net/kaf2th/singing/n77e50axrq1qlbd6.mp3" controls controlsList="nodownload"></audio>
  </div>
</div>
