<div class="container">
  <div class="novels">
    <a routerLink="/novel/contents/出会い" class="novel-link">
      <h3>出会い</h3>
      <p>まなまな</p>
    </a>
    <a routerLink="/novel/contents/生き解を求めて" class="novel-link">
      <h3>生き解を求めて</h3>
      <p>じゃすみん。</p>
    </a>
    <a routerLink="/novel/contents/とある少女の秋" class="novel-link">
      <h3>とある少女の秋</h3>
      <p>鼓膜売り</p>
    </a>
    <a routerLink="/novel/contents/増えたのはローソクと" class="novel-link">
      <h3>増えたのはローソクと</h3>
      <p>じゃすみん。</p>
    </a>
    <a routerLink="/novel/contents/笛吹きの預言" class="novel-link">
      <h3>笛吹きの預言</h3>
      <p>タタミベリ</p>
    </a>
    <a routerLink="/novel/contents/爆弾" class="novel-link">
      <h3>爆弾</h3>
      <p>詩然河勝</p>
    </a>
  </div>
</div>
