.container {
  position: relative;

  .novels {
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;

    h3 {
      background-color: #000;
      width: fit-content;
      color: #fff;
      margin: 0;
      font-family: serif;
    }

    p {
      color: #000;
      font-weight: bold;
    }

    @media (min-width: 768px) {
      h3 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }
}
