<div class="container my-5">
  <h1>アンケート</h1>
  <p>
    花譜discordで行ったアンケートでは46件の回答を得られました。<br>
    ありがとうございました。<br><br>
    ※アンケート対象は8/20日時点で「わたしだけのうた」「うたってみた」のプレイリストに収録されているものです。
  </p>

  <hr class="my-4">

  <h2>花譜のオリジナル曲で好きな歌は？</h2>
  <div class="pie">
    <ngx-charts-pie-chart [doughnut]="true" [labels]="true" [legendTitle]="''" [legend]="true"
                          [results]="original"></ngx-charts-pie-chart>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/n0ov2G-_UvU"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h3>一位　quiz 19.6%</h3>
      <p>
        昨年度は6位だったquizが1位にランクイン。quizのMVは花譜をセルフィ―調に撮影しており、夕闇に現れる彼女のリアリティが表現されている。本曲は、ノリやすいアップテンポの曲調でつい何度も繰り返して聞きたくなる。それこそが本楽曲の順位が大きく上昇した要因だろう。時間をかければかけるほど愛される曲はスルメ曲と呼ばれ、名曲の条件の一つだ。聞けば聞くほど魅力が上がるquizは納得の1位である。</p>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <h3>二位　そして花になる 13.0%</h3>
      <p>
        「みんなで作る！花譜ファーストワンマンライブ」のクラウドファンディングのストレッチゴールとして制作された本曲はカンザキイオリ氏が花譜にインタビューを行い制作された曲であり、等身大の少女である彼女を表現している。雛鳥、糸、忘れてしまえ、そして不可解と随所に曲名が散りばめられ、花譜が歩んできた道を振り返ることができる特別な曲だ。</p>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/y6TGSY9Zll0"></iframe>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/M1RIUrgJqWw"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h3>三位　雛鳥 8.7%</h3>
      <p>
        雛鳥は休詩を挟み、新たなスタートを切った花譜が公開した曲として知られる。また、デビュー当時に初めて公開された動画の中で口ずさんでいた曲でもある。昨年度は5位に留まっていたものの今年度は3位にランクイン。2年目を迎える今こそ原点に立ち返ることが出来る雛鳥は観測者必聴の一曲だ。</p>
    </div>
  </div>

  <hr class="my-4">

  <h2>花譜の歌ってみたで一番好きな歌は？（1年目）</h2>
  <div class="pie">
    <ngx-charts-pie-chart [doughnut]="true" [labels]="true" [legendTitle]="''" [legend]="true"
                          [results]="cover1"></ngx-charts-pie-chart>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/LRO_uhj_99E"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h3>一位　死神 15.2%</h3>
      <p>
        2年連続1位となった「死神」。不可解での印象も強いこの一曲が1年目のトップとなった。ポエトリーリーディングパートに心を奪われた観測者も多いだろう。彼女の感情の表現力を最大限発揮したこの曲は場の空間を一気に染め上げてしまう。</p>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <h3>二位　命に嫌われている（Prayer Ver.） 13.0%</h3>
      <p>カンザキイオリの代表曲「命に嫌われている」のカバー「命に嫌われている（Prayer
        Ver.）」。原曲とは異なるアレンジが施されており、花譜のための命に嫌われていると言っても差し支えないだろう。花譜とカンザキイオリが共鳴した新たな「命に嫌われている」は全人類必聴の一曲だ。
      </p>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/N5hInoyU-WY"></iframe>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/iD5ZCHjI5CU"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h3>二位　フロントメモリー 13.0%</h3>
      <p>「まぢあっちーし！」という声が印象的なフロントメモリー。
        この曲は夏の鬱陶しさと軽やかさを青春という舞台で表現している。高校生である花譜が今歌うことに意味があるのだろう。不可解のエンディングでも流れたこの曲は花譜を代表するカバーとなった。</p>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <h3>二位　おやすみ泣き声、さよなら歌姫 13.0%</h3>
      <p>昨年度のアンケートのタイミングでは公開されていなかった「おやすみ泣き声、さよなら歌姫」がここでランクイン。彼女の表現力がギターの響きに乗ってとても心地よく聞こえ、軽快なロックチューンに仕上がっている。</p>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/UMv4Idm_8sY"></iframe>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/jpwy7kP8Pps"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h3>二位　猛毒が襲う 13.0%</h3>
      <p>
        「猛毒が襲う」は花譜の一番最初の歌ってみたである。今とは異なり、初期独特の拙さと幼さがにじみ出ていつつも、今の花譜の片鱗も感じさせてくれる。初めにこの曲を選ぶセンスも流石花譜と言ったところだろう。花譜の物語の最初の一ページを飾る名カバーだ。</p>
    </div>
  </div>

  <hr class="my-4">

  <h2>花譜の歌ってみたで一番好きな歌は？（2年目）</h2>
  <div class="pie">
    <ngx-charts-pie-chart [doughnut]="true" [labels]="true" [legendTitle]="''" [legend]="true"
                          [results]="cover2"></ngx-charts-pie-chart>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/OcGhtS13eLs"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h3>一位　雨き声残響 13.0%</h3>
      <p>Orangestarの代表曲として知られる「雨き声残響」のカバー。花譜独特のアレンジも多く見られ、彼女のウィスパーボイスも存分に活かされている。最後のロングトーンは必聴。</p>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <h3>二位　イヤホンと蝉時雨 10.6%</h3>
      <p>
        Orangestarの代表曲の一つ「イヤホンと蝉時雨」が連続でランクイン。序盤は夏のけだるさを感じさせつつも、後半にかけては夏の爽快さを感じさせてくれる。花譜の表現力によって、真夏の情景と心情を思い起こしてくれる名カバー。</p>
    </div>
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/CraT4XYROZs"></iframe>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                frameborder="0"
                src="https://www.youtube-nocookie.com/embed/Koz-8KthqRo"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <h3>二位　愛の才能 10.6%</h3>
      <p>川本真琴のカバー「愛の才能」。不可解再にて初めて歌われたカバーでギターが印象的な一曲。1996年の曲なので知らなかった人も多かったのではないだろうか。独特なリズム感と花譜の声が見事にマッチしているカバーである。</p>
    </div>
  </div>

  <hr class="my-4">

  <h4>総評</h4>
  <p>
    みなさん、ありがとうございました。<br>
    今回は昨年度とは異なり、様々な曲に票が割れました。2年間を経て多くの曲がリリースされ、どの曲も魅力的であったという結果だと思います。この企画を機会に昔から現在へと聞き比べたのですが、花譜の成長を強く実感しました。拙く幼い歌声が特徴だった彼女は、徐々に力強くロックチューンにも負けない歌声へと変わっています。全体としてロック系の歌ってみたが多くランクインしているのがその証明のように思えます。<br>
    来年もこのような機会がありましたら、ぜひともまたアンケートを行うつもりですので、そのときは多くの人のご参加をお待ちしています。<br>
    以上かなたでした。
  </p>
</div>
