.pie-chart-parent {
  max-width: 100%;
  min-height: 64vh;
  overflow: auto;
}

ngx-charts-pie-chart {
  display: flex;
  min-height: 64vh;
}

h1, h2, h3 {
  width: fit-content;
  background-color: #000;
  color: #fff;
  padding: 0 16px;
  font-family: serif;
  font-weight: bold;
}
