<div class="menu-overlay">
  <div (click)="menuActive = !menuActive" [class.active]="menuActive" class="button">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div [class.active]="menuActive" class="menu-content">
    <a (click)="menuActive = false" routerLink="/">ホーム</a>
    <a (click)="menuActive = false" routerLink="/illustration">イラスト</a>
    <a (click)="menuActive = false" routerLink="/comments">コメント</a>
    <a (click)="menuActive = false" routerLink="/novel">小説</a>
    <a (click)="menuActive = false" routerLink="/questionnaire">アンケート</a>
    <a (click)="menuActive = false" routerLink="/history">年表</a>
  </div>
</div>

<router-outlet></router-outlet>
