virtual-scroller {
  width: 100%;
  height: 100vh;
}

history-component {
  display: block;
  width: 100%;
}

.iframe-wrap {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.iframe-wrap * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
