<div class="container">
  <virtual-scroller #scroll [items]="history"
                    [enableUnequalChildrenSizes]="true"
                    [parentScroll]="scroll.window"
                    [bufferAmount]="1"
                    (vsUpdate)="changeLoading($event)">
    <history-component *ngFor="let data of scroll.viewPortItems">
      <h5>{{data.title}}</h5>
      <p>{{data.date}}</p>
      <p class="font-weight-bold" [innerHTML]="data.desc"></p>
      <div class="embed-contents text-center">
        <blockquote class="twitter-tweet" *ngIf="data.type == 'twitter'" style="min-height: 300px">
          <a class="twitter-tweet" *ngIf="data.type == 'twitter'" [href]="data?.url"></a>
        </blockquote>
        <div class="embed-responsive embed-responsive-16by9" *ngIf="data.type == 'youtube'">
          <iframe *ngIf="youtubePreview === data.index"
                  [src]="sanitize('https://www.youtube-nocookie.com/embed/' + data?.url + '?autoplay=1')"
                  allowfullscreen></iframe>
          <div class="youtube-preview" *ngIf="youtubePreview !== data.index">
            <img class="embed-responsive-item"
                 [src]="'//i.ytimg.com/vi/' + data?.url + '/maxresdefault.jpg'" (click)="youtubePreview = data.index">
          </div>
        </div>
      </div>
      <p *ngIf="data.type == 'text'">Text Only</p>
      <p *ngIf="data.type == 'other'">Other</p>
      <hr>
    </history-component>
  </virtual-scroller>
</div>
