<div class="container">
  <virtual-scroller #scroll [items]="history" [enableUnequalChildrenSizes]="true" (vsChange)="changeLoading($event)">
    <history-component *ngFor="let data of scroll.viewPortItems" [randomHeight]="true">
      <p>{{data.date}}</p>
      <p>{{data.title}}</p>
      <p [innerHTML]="data.desc"></p>
      <p class="iframe-wrap" *ngIf="data.type == 'twitter'">
        <iframe *ngIf="!loading" width="560" height="315"
                [src]="sanitize('https://twitter-embed.arkjp.net/?url=' + data?.url)"
                frameborder="0"
                loading="lazy"
                allowfullscreen></iframe>
        <img *ngIf="loading" src="/assets/img/loading.png" alt="loading" width="560" height="315">
      </p>
      <p class="iframe-wrap" *ngIf="data.type == 'youtube'">
        <iframe *ngIf="!loading" width="560" height="315" [src]="sanitize(data?.url)" frameborder="0"
                loading="lazy"
                allowfullscreen>
        </iframe>
        <img *ngIf="loading" src="/assets/img/loading.png" alt="loading" width="560" height="315">
      </p>
      <p *ngIf="data.type == 'text'">Text Only</p>
      <p *ngIf="data.type == 'other'">Other</p>
      <a [href]="data.url">{{data.url}}</a>
    </history-component>
  </virtual-scroller>
</div>
