<div class="textbox">
  <h4>とある少女の秋<span class="small">鼓膜売り</span></h4>
  <p>&emsp;秋。読書の秋。スポーツの秋。芸術の秋。エトセトラエトセトラエトセトラ。大体当てはめればとりあえず合う秋。そんな時期。彼女の秋は、「食欲」だった。</p>
  <p>&emsp;一つ縛りの、淡い桜色の髪をした少女は、いつもお世話になっている彼女のプロデューサーに、デビュー二周年記念で特別にとある料亭の、いいご飯を奢ってもらう事になった。</p>
  <p>「わぁ……美味しそう……」</p>
  <p>&emsp;そう言って彼女、花譜の目にまず入ってきたのは、ほかほかと匂いを運んでくる蒸気と、炊き込みご飯であった。</p>
  <p>&emsp;紅葉があしらわれた漆塗りのお椀には、舞茸やさつまいもなど、和の食材をふんだんに取り入れられていて、見ただけで腹を空かせ匂いだけで涎を垂れさせる、驚異の一品であった。</p>
  <p>&emsp;そしてその右には、大根や白菜をいれて、さらに鮭で旨味を増したお吸い物と、主菜に豚肉を入れたきのこの時雨煮。副菜に茄子の煮浸し。副副菜は白菜のお新香。まさに和、これこそ和である。</p>
  <p>&emsp;少女はごくりと生唾を飲み、すぐにでもがっつきたくなる衝動を抑え、手を合わせる。</p>
  <p>「いただきます」</p>
  <p>&emsp;礼節を持って、この世の食材と、プロデューサーに感謝をする。そして少女は、我慢しきれないと言った様子で、にやけながら箸に手を伸ばした。</p>
  <p>&emsp;最初にまず彼女は、炊き込みご飯をその小さな口いっぱいに、かきこんだ。ほかほかと口の中を熱気が満たす。舌には、ホクホクとしたさつまいもの甘さと、舞茸の食感がご飯と絶妙に絡み合い、口の中から全身が幸せにされている。ほかほか、ほくほくだ。</p>
  <p>&emsp;噛めば噛むほどますます増していく甘さに少女は頬が落ちる。蕩けた表情は、その美味しさを何よりも伝えてくれて、尚且つこちらまで幸せな気分になるようだ。</p>
  <p>&emsp;さて、いつまでも食べていたいが次は汁物。</p>
  <p>&emsp;静かにお椀に口をつけ、啜る。</p>
  <p>&emsp;白だしに鮭の旨味が溶け込み、温かい水分が、体に循環していく。一口、また一口と飲む度に母親の胎内に居るような、また生まれ変わるようなそんな錯覚に陥るようだ。この世に生を受けたのはこの為か、と思うほどに全てが満たされる。</p>
  <p>&emsp;次はきのこの時雨煮。しめじと豚肉の食感を味わう。</p>
  <p>&emsp;コリコリとした食感と豚肉のジューシーな食感は、五十年は食べていても飽きないだろう。ご飯と一緒に食べて、いくらでも箸が進み、止まらない。脳内もこの眼前の幸せだけしか考えられず、脳内麻薬もドパドパだ。</p>
  <p>&emsp;そしてナスの煮浸し。さっぱりとした食感に麺つゆがたっぷりと染み込んでいて、まさに残暑にはピッタリだ。心まで清々しくなり、いい食はまさに心も体も健康にするとは、その通りだと痛感する。</p>
  <p>&emsp;そうして、順序良く食べていきながら、副副菜の白菜のお新香にも手を出す。しっかりとした食感でリフレッシュされるようだ。またご飯も、主菜も新鮮に感じるようになる。味変とはよく言うが、和食においてはさっぱりとしたお新香は最高の味変料理では無かろうか。</p>
  <p>&emsp;そうして順序よく食べているうちに、あっという間に全ての器が空になった。食器には、ご飯粒ひとつも付いておらず、漆塗りの底が、電球に照らされて美しい色をしている。</p>
  <p>&emsp;プロデューサーは、こちらに合わせて食べてくれたようで、丁度汁物の汁を飲み干す位に、彼も食べ終わり、思わぬ大人の気遣いに花譜は感心した。やはりモノホンの大人である。都会人だ。花譜は腹八分目の、幸せでふわふわとした思考で、そう感じた。</p>
  <p>&emsp;そして、食べ終わると同時に食器が片付けられ、代わりに出てきたのは、なんと、きなこもちだ。このようなフルコースは最早食の暴力だ。満足させた後に、更に別腹で幸せを上乗せしてくる。良すぎる食は時に暴力的な迄にこちらを幸福にさせるようだ。ずるい。</p>
  <p>&emsp;木のフォークで刺し、口に運ぶ。きな粉の香りが口に広がり、鼻に抜ける。そしてもちもちとしながらも溶けていく様な本体は、噛む度に幸せを蓄積して行った。木のフォークも、鉄やステンレスとは違い、風味を損なわせることがなく、文句など出ようが無い。</p>
  <p>&emsp;幸福だ。幸せが口にやってきて体内に溜まっていく。溶けるそのもちもちを堪能しながら、彼女は人生の中でも、最高レベルの幸せに浸っている。</p>
  <p>&emsp;そして、破顔し、にへらと蕩けている彼女をみてプロデューサーも満足したように笑い、きなこもちを口に入れ、同じように顔を綻ばせるのだった。</p>
  <p>&emsp;秋。様々で人それぞれの秋があるが、彼女のように、それらの根幹は、自分が幸福になることだ。本を読んで悦楽に浸るもよし。体を動かして爽やかに楽しむもよし。貴方も、秋をしてみては如何だろう</p>
</div>
