.top {
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.section {
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  transform-style: inherit;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .illustration-container {
    position: absolute;
    width: 100%;
    height: 100vh;

    .illustration {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .section1 {
    transform: translateZ(0.8px) scale(0.2) translateY(-200%);
    text-shadow: 1px 1px 1.5px #fff;
  }
}

#illustration2 {
  transform: translateZ(0.5px) scale(0.5) translateX(-65%) translateY(-100%);

  .illustration {
    background-image: url("/assets/img/index/illustration2.png");
  }
}

#illustration3 {
  transform: translateZ(0.5px) scale(0.5) translateX(45%) translateY(-50%);

  .illustration {
    background-image: url("/assets/img/index/illustration3.png");
  }
}

@media (min-width: 768px) {

  #illustration2 {
    transform: translateZ(0.5px) scale(0.5) translateX(50%) translateY(-100%);
  }

  #illustration3 {
    transform: translateZ(0.5px) scale(0.5) translateX(-50%) translateY(-50%);
  }
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
}

.section {
  background: 50% 50% / cover;

  &:nth-child(2n) .title {
    margin-left: 0;
    margin-right: auto;
  }

  &:nth-child(2n+1) .title {
    margin-left: auto;
    margin-right: 0;
  }

  &:before {
    background: 50% 50% / cover;
  }
}

#title {
  position: relative;
  background-image: url("/assets/img/bg/bg1.png");
  background-size: cover;
  background-position: center;
  z-index: 2;

  #illustration1 {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: auto;
    left: 0;
    right: 0;
    background-image: url("/assets/img/index/illustration1.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateZ(0.5px) scale(0.5) translateX(0) translateY(0);
  }
}

@media (min-width: 768px) {
  #title #illustration1 {
    height: 200vh;
    background-position: center;
    transform: translateZ(0.5px) scale(0.5) translateX(0) translateY(-45%);
  }
  .section1 {
    transform: translate3d(0, 0, 0) !important;
  }
}

#section1:before {
  background-image: url("/assets/img/bg/bg2.png");
  transform: translateZ(-1px) scale(2);
}

#section2 {
  background-image: url("/assets/img/bg/bg3.png");
  z-index: 2;
}

#section3:before {
  background-image: url("/assets/img/bg/bg4.png");
  transform: translateZ(-1px) scale(2);
}

#section4 {
  background-image: url("/assets/img/bg/bg5.png");
}
