<div class="top">
  <div id="title" class="container-fluid section header text-center animate__animated animate__fadeInDown">
    <div class="illustration"></div>
  </div>

  <div id="section1" class="container-fluid section text-dark">
    <div class="col-md-6">
      <h1>タイトル</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>

  <div id="section2" class="container-fluid section">
    <div class="row">
      <div class="col-md-6">
        <div class="illustration-container">
          <div class="illustration"></div>
        </div>
      </div>
      <div class="col-md-6 section1">
        <h1>タイトル</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
  </div>

  <div id="section3" class="container-fluid section">
    <div class="col-md-6">
      <h1>タイトル</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>

  <div id="section4" class="container-fluid section header text-white">
    <h1>タイトル</h1>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted my-3">&copy; 2020 あとで入れる. or CC-BY </p>
    </div>
  </footer>

</div>
